<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
     content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
     crossorigin="anonymous">

     <title>Light Controller</title>
</head>

<body>
    <h1>Etekcity Controller</h1>
    <form method="post" action="/">
        <input type="submit" class="btn btn-success" name="etekcity:1" value="ON">
        <input type="submit" class="btn btn-danger"  name="etekcity:1" value="OFF">
        Christmas Lights (ch 1) <br><br>

        <input type="submit" class="btn btn-success" name="etekcity:2" value="ON">
        <input type="submit" class="btn btn-danger"  name="etekcity:2" value="OFF">
        (ch 2) <br><br>

        <input type="submit" class="btn btn-success" name="etekcity:3" value="ON">
        <input type="submit" class="btn btn-danger"  name="etekcity:3" value="OFF">
        Garage Lights (ch 3) <br><br>

        <input type="submit" class="btn btn-success" name="etekcity:4" value="ON">
        <input type="submit" class="btn btn-danger"  name="etekcity:4" value="OFF">
        Living Room Lights (ch 4) <br><br>

        <input type="submit" class="btn btn-success" name="etekcity:5" value="ON">
        <input type="submit" class="btn btn-danger"  name="etekcity:5" value="OFF">
        Guest Bedroom (ch 5) <br><br>


    </form>

    <h1>Living Room TV</h1>
    <form method="post" action="/">
        <input type="submit" class="btn btn-success" name="livingroomtv:power_all" value="POWER ALL">
        <input type="submit" class="btn btn-success" name="livingroomtv:volumeup" value="VOL+">
        <input type="submit" class="btn btn-success" name="livingroomtv:volumedown" value="VOL-">
        <br><br>
        <input type="submit" class="btn btn-success" name="livingroomtv:power_tv" value="POWER TV">
        <input type="submit" class="btn btn-success" name="livingroomtv:power_stereo" value="POWER STEREO">
    </form>


</body>

</html>
