<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
     content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
     crossorigin="anonymous">

     <title>Light Controller</title>
</head>

<body>
    <h1>Light Controller</h1>
    <form method="post" action="/">
        <input type="submit" class="btn btn-success" name="1" value="ON">
        <input type="submit" class="btn btn-danger"  name="1" value="OFF">
        Den (ch 1) <br><br>

        <input type="submit" class="btn btn-success" name="2" value="ON">
        <input type="submit" class="btn btn-danger"  name="2" value="OFF">
        (ch 2) <br><br>

        <input type="submit" class="btn btn-success" name="3" value="ON">
        <input type="submit" class="btn btn-danger"  name="3" value="OFF">
        (ch 3) <br><br>

        <input type="submit" class="btn btn-success" name="4" value="ON">
        <input type="submit" class="btn btn-danger"  name="4" value="OFF">
        (ch 4) <br><br>

        <input type="submit" class="btn btn-success" name="5" value="ON">
        <input type="submit" class="btn btn-danger"  name="5" value="OFF">
        (ch 5) <br><br>


    </form>

</body>

</html>
